@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  html, body, #app {
    font-family: Poppins, Arial, sans-serif;
    min-height: 100vh;
    height: 100vh;
}

@layer components {
    .ln {
        @apply bg-gray-400 w-12 h-1.5;
    }

    .btn {
        @apply transition-colors p-2 cursor-pointer rounded mr-2 text-white;
    }

    .modal-title {
        @apply font-bold text-gray-800 text-xl;
    }

    .modal-description {
        @apply font-medium text-gray-600;
    }

    .text-input {
        @apply border-b-2 border-gray-300 focus:border-blue-500 outline-none mt-1 h-8 p-1.5 w-1/2 focus:w-3/4; /* w-1/2 focus:w-3/4 */
        transition: all 180ms ease-in-out;
    }

    .textarea {
        @apply border-2 border-black rounded w-full resize-y mt-1 mb-3 p-0.5 px-1 max-h-36 min-h-14 h-14;
    }

    table > thead > tr > th,
    table > tbody > tr > td {
        @apply border border-gray-400 rounded m-2 p-1.5;
    }
}
